
/* body/common utility style part  */

body{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    width: 1440px;
}
 /* banner part style  */

.banner{
    background-color: #2D25A0;
    Width: 100%;
    Height: 677px;
   
    justify-content: space-between;
}
.banner-photo{
    float: right;
    margin-top: 200px;
    margin-right: 200px;
}
.banner-photo img{
    width:556.01px;
    Height:438px;
}
.banner-titile{ 
    float: left;
    Width:485px;
    Height:230px;
    margin-top:250px;
    margin-left: 156px;
    }
.banner-titile h1{
    display: inline;
    color: white;
    font-weight: 700;
    font-size: 64px;
}
.button{
    margin-top:27px;
}
.button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #E02C6D;
    padding: 10px 30px;
}
.button a:hover{
    
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    font-size: 50px;
    transition: 0.6s ease;
}

/* banner style part end  */



/* main style part start  */
main{
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 200px;
   
}

/* player section style part  */
.players{
    
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    justify-content: center;
    

}
.player{
    
    width:330px;
    height: 500px;
    box-shadow: 3px 3px 20px 3px rgba(187, 184, 184, 0.425);
    border-radius: 20px;
    
    /* margin-right: 30px; */
    
}
.player-photo img{
    width: 300px;
    height: 256px;
    margin-left: 14px;
    margin-right:14px;
    margin-top:14px;
}
.player-info{
    width: 300px;
    height: 154px;
    margin-left: 14px;
    margin-right:14px;
}
.player-name{
    font-size: 28px;
    font-weight: 700px;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-biography{
    font-size: 16px;
    color: #6C6C6C;
    padding-bottom: 33px;
}


/* footer part style  */
footer{

  margin-left: 45%;
  margin-bottom: 65px;
  width:600px;
  height: 213px;
}
footer img{
    width: 270px;
    height: 100px;
    margin-left: -50px;
}

.social-icon i{
    padding: 5px;
    
} 

.single-icon{
    background-color: rgba(128, 128, 128, 0.39);
    width: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.copyright{
    margin-top: 20px;
    font-size: 18px;
    color:black;
}

/* <!-- Tournament Best Player section  --> */

.best-player{
    width: 600px;
    margin-top: 100px;
    box-shadow: 2px 2px 30px 2px rgba(128, 128, 128, 0.473);
    padding: 50px;
    border-radius: 30px;
}
.best-player h1{
    color: blue;
    font-size: 40px;
    font-weight: 700px;
    text-align: center;
}
.best-player-photo img{
    width: 100%;
    border-radius: 10px;
}
.best-player-photo p{
font-size: 30px;
text-align: justify;
font-weight: 800;
}
marquee{
font-size: 50px;
font-weight: 1000;
color: rgb(128, 255, 0);
background: cornsilk;
}

/* media query part  */



/* mobile size screen  */
    
@media (max-width:688px){
    .players{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-row-gap: 27px;
        grid-column-gap: 30px;
        justify-content: center;   
    }
    footer{
        margin-left: 40%;
        margin-bottom: 65px;
        width: 483px;
        height: 213px;
      }
      body{
          width: 688px;
      }
      
    .banner-photo{
       
        width: 400px;
        height: auto;
        margin-top: 200px;
        padding-left: 600px; */
        
    }
    .banner-photo img{
        width:100%;
        float: right;
        display: block;
    
    }
    .banner-titile{ 
        display: inline-block;
        float: top;
      position:absolute;
        Width:100%;
       margin: auto;
        }
    .banner-titile h1{
        display: inline;
        color: white;
        font-weight: 700;
        font-size: 50px;
    }
    .button{
        margin-top:27px;
    }
    .button a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: white;
        background-color: #E02C6D;
        padding: 10px 30px;
    }

}
  

  /* tablet size screen  */


@media (min-width:689px) and (max-width:992px){
    .players{
        
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-row-gap: 27px;
        grid-column-gap: 30px;
        justify-content: center;   
    }
    footer{
        margin-left: 40%;
        margin-bottom: 65px;
        width: 483px;
        height: 213px;
      }

}
  
/* big size  screen  */


@media (min-width:993px) and (max-width:1312px){
    .players{
        
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-row-gap: 27px;
        grid-column-gap: 30px;
        justify-content: center;   
    }
    footer{
        margin-left: 40%;
        margin-bottom: 65px;
        width: 483px;
        height: 213px;
       } 

} 
